# Files will be moved from source_folder/path/to/music to
# dest_folder/path/to/music
source_folder = "/home/matthew/Music"
dest_folder = "/home/matthew/mnt/Internal Storage/Music"

# A regex for excluding files, for example instrumentals.
# These must be enclosed in single quotes to avoid escaping
exclude = [
    '.*[Ii]nstrument(al)?( ver(.?|sion))?(\)|-|>)?\.[a-zA-Z0-9]+$',
    '.*[O|o]ff-?[V|v]ocal.*'
]

# A list of files, folders, and glob patterns inside source_folder
# to copy
files = [
    "BLACKPINK",
    "MAMAMOO",
]

[convert_profile]
# A target format for files not in acceptable_formats
# Must be one of ffmpeg::codec::id::Id
target_format = "MP3"

# Formats that will not undergo conversion.
# i.e. you may only want to convert lossless files to target_format,
# but leave other lossy formats as they are, to avoid further quality decrease
# These values may be a ffmpeg::codec::id::Id (below), "quality:lossless",
# or "quality:lossy".
# TODO: Allow other selectors, like a max bitrate, Freedom of the codec, etc.
acceptable_formats = [
    "quality:lossy"
]

# Bitrate in kbps.  Should probably be 128 or 320 for most cases
bit_rate = 320
